/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    backdrop-filter: blur(10px);
}

.popup {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}
.close {
    position: absolute;
    top: 0;
    right: 7px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}


